<!DOCTYPE html>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        /* Full viewport height */
        /* border: 1px solid #000; */
    }

    .task {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
</style>

<body>
    <div class="container">
        <ul>
            {{range .Tasks}}
            <li class="task">{{.Desc}}</li>
            {{end}}
        </ul>
    </div>
</body>

</html>