<!DOCTYPE html>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        /* Full viewport height */
        /* border: 1px solid #000; */
    }

    .task {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <div class="container">
        <ul>
            {{range .Tasks}}
            <li class="task">{{.Desc}}&emsp;|&emsp;{{.ShortDoneDate}}</li>
            {{end}}
            <li class="task">
                <form action="/add" method="post">
                    <input type="text" id="newtask" name="newtask" placeholder="add a task...">
                    <input type="submit" value="add">
                </form>
            </li>
        </ul>
    </div>
    <div class="controls">
        <a href="/{{.Links.LastQuarterUrl}}">{{.Links.LastQuarterText}}</a>
        &emsp;
        <a href="/{{.Links.LastYearUrl}}">{{.Links.LastYearText}}</a>
    </div>
</body>

</html>